//
// Views / Activity
// ================================================================================


// Sidebar Contents
// ========================================


.v_activity__side-block {

  &:not(:last-of-type) {
    margin-bottom: $space-200;
  }

  p {
    margin-bottom: $space-100;
    color: $color-grey-700;
  }


  // Exceptions

  &--printable {
    display: none;

    @include breakpoint(lg) {
      display: block;
      // width: $spacePercentual-80;
    }
  }

  .c_button {

    &:not(:last-of-type) {
      margin-bottom: $space-050;
    }
  }
}


.v_activity__side-title {
  margin-bottom: $space-050;

  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-125;
  color: $color-grey-400;
}


.v_activity__side-box {
  padding: $space-150;
  @include box;

  &--details {
    display: grid;
    gap: $space-100;
    grid-template-columns: 1fr;

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(lg) {
      // width: $spacePercentual-75;
      grid-template-columns: 1fr;
    }
  }
}


.v_activity__details-group-title {
  margin-bottom: $space-025;
}





// Activity Text
// ========================================


.v_activity__contents {
  margin-top: $space-400;

  @include breakpoint(lg) {
    margin-top: 0;
  }
}