//
// Views / Home
// ================================================================================


// Boardie and So
// ========================================

.v_home__hero-picture {
  margin-top: calc( #{$space-100} * -1 );
  margin-bottom: $space-500;
}





// Subtitle
// ========================================

.v_home__subtitle {
  margin-top: calc( #{$space-200} * -1 );
  margin-bottom: $space-200;
  transform: rotate( -2deg );
}