// 
// Components / Buttons
// ==========================================================================


.c_button {
  height: $space-250;
  padding: $space-050 $space-075;
  line-height: 1;

  display: flex;
  align-items: center;
  width: fit-content;
  
  background-color: $color-blue;
  border-radius: $borderRadius-025;

  transition: all $trans-0200 $trans-easing;

  svg {
    color: $color-blue-light;
    transition: color $trans-0200 $trans-easing;
    font-size: 0;
  }

  &__icon {
    flex-shrink: 0;
    height: $space-125;
    width: $space-125;
    margin-right: $space-050;

    svg {
      width: 100%;
    }
  }

  span {
    color: $color-grey-900;
    transition: color $trans-0200 $trans-easing;
    color: $color-white; // Icon BGs inherits it
    font-family: $font-display;
    font-weight: 500;
    // font-size: $fontSize-125;
  }

  &__arrow {
    flex-shrink: 0;
    height: $space-100;
    width: $space-100;
    margin-left: $space-100;
  }

  // Effects
  &:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-blue-medium;

    svg,
    span {
      color: $color-white;
    }
  }
}


.c_button-small {
  padding: $space-050 $space-075;
  line-height: $lineHeight-100;

  display: inline-flex;
  align-items: center;
  
  background-color: $color-blue;
  border-radius: $borderRadius-025;

  color: $color-white; 
  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-087;

  transition: all $trans-0200 $trans-easing;

  .c_button-small__icon {
    width: $space-100;
    margin-right: $space-050;

    display: flex;
    justify-content: center;
    color: $color-blue-light;

    transition: all $trans-0200 $trans-easing;

    svg {
      width: 100%;
    }
  }

  span {
    color: $color-white;
  }

  &:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-black;

    svg, span {
      color: $color-white;
    }
  }
}