// 
// Components / Buttons
// ==========================================================================


.c_button {
  padding: $space-050 $space-100 $space-050 $space-075;
  display: flex;
  align-items: center;
  width: fit-content;
  
  @include box;
  color: $color-purple; // Icon BGs inherits it

  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-125;
  // letter-spacing: -0.05rem;

  transition: all $trans-0200 $trans-easing;

  svg {
    height: $space-150;
    width: $space-150;
    margin-right: $space-050;

    color: $color-purple;
    transition: color $trans-0200 $trans-easing;
  }

  span {
    color: $color-grey-900;
    transition: color $trans-0200 $trans-easing;
  }

  &:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-purple;

    svg,
    span {
      color: $color-white;
    }
  }
}


.c_button-small {
  height: $space-200;
  padding: $space-025 $space-075 $space-025 $space-050;
  display: inline-flex;
  align-items: center;
  
  @include box;
  color: $color-purple; // Icon BGs inherits it

  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-100;

  transition: all $trans-0200 $trans-easing;

  svg {
    margin-right: $space-050;
    color: $color-purple;

    transition: all $trans-0200 $trans-easing;
  }

  span {
    color: $color-grey-900;
  }

  &:hover {
    cursor: pointer;
    color: $color-white;
    background-color: $color-purple;

    svg, span {
      color: $color-white;
    }
  }
}