// 
// Hero / Hero Home
// ==========================================================================


.c_hero-home  {
  width: 100%;
  // margin-top: $space-200;
  // margin-bottom: $space-200;
  height: $space-1500;
  position: relative;
}


.c_hero-home__logo {
  display: inline-block;
  margin: 0 auto;
  transform: translateY($space-300);
}


.c_home-hero__letter {
  opacity: 1;
  transition: opacity $trans-0200 $trans-easing;

  &--hidden {
    opacity: 0.1;
  }

  &:hover {
    cursor: pointer;
  }
}


.c_home-hero__microblocks-text {
  opacity: 1;
  transition: opacity $trans-0200 $trans-easing;

  &--hidden {
    opacity: 0.1;
  }
}


.c_hero-home__bubble {
  position: absolute;
  z-index: $zindex-above;
  pointer-events: none; /* not mouse reactive */

  opacity: 0;
  transition: opacity $trans-0400 $trans-easing;

  &--is-visible {
    z-index: $zindex-above;
    opacity: 1;
  }
  
  &--l {
    top: -35%;
    left: -14%;
  }

  &--e {
    top: -48%;
    left: 3%;
  }
  &--a {
    top: -45%;
    left: 18%;
  }
  &--r {
    top: -38%;
    left: 45%;
  }
  &--n {
    top: -35%;
    right: -15%;
  }
}


.c_hero-home__descriptions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


.c_hero-home__desc {
  position: absolute;
  right: $spacePercentual-25;
  bottom: 0;
  left: $spacePercentual-25;
  
  width: $spacePercentual-50;
  margin: 0 auto;
  
  font-weight: 700;
  opacity: 0;
  transition: opacity $trans-0400 $trans-easing;
  
  @include breakpoint(xl) {
    width: $spacePercentual-40;
    right: $spacePercentual-30;
    left: $spacePercentual-30;
  }


  // Text details

  &--l {
    transform: rotate(-1deg);

    strong {
      color: $color-green;
    }
  }

  &--e {
    transform: rotate(1deg);

    strong {
      color: $color-blue;
    }
  }

  &--a {
    transform: rotate(-0.5deg);

    strong {
      color: #4458C1;
    }
  }

  &--r {
    transform: rotate(1deg);

    strong {
      color: $color-purple;
    }
  }

  &--n {
    transform: rotate(0.5deg);

    strong {
      color: $color-red;
    }
  }

  // Hover state

  &--is-visible {
    opacity: 1;
  }
}





// Letters Dancing
// ========================================


@keyframes lettersDance {
  0% {
    transform:
      translateY(0)
      rotate(0)
    ;
  }
  90% {
    transform:
      translateY(0)
      rotate(0)
    ;
  }
  100% {
    transform:
      translateY( calc( -1 * #{$space-200} ) )
      rotate(1deg)
    ;
  }
}


.c_hero-home__logo svg {
  overflow: visible; // override
}


.c_home-hero__letter {
  animation-name: lettersDance;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  // animation-delay
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &--l {
    animation-delay: 10s;
  }

  &--e {
    animation-delay: 10.1s;
  }

  &--a {
    animation-delay: 10.2s;
  }

  &--r {
    animation-delay: 10.3s;
  }

  &--n {
    animation-delay: 10.4s;
  }
}