//
// Components / Menu
// ================================================================================


.menu {
  position: fixed;
  z-index: $zindex-menu;
  height: 100vh;
  width: 100vw;
  // inset: 0;
  top: 0;
  right: -100vw;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-family: $font-display;
  font-weight: 700;
  font-size: $fontSize-150;
  text-align: center;
  
  background-color: $color-yellow;
  background-image: url("assets/img/backgrounds/background-on-yellow.png");
  background-position: center center;

  transition: right $trans-0400 $trans-easing;

  // Visible
  &--is-visible {
    right: 0;
  }
}





// Logo
// ========================================


.menu__logo {
  display: block;

  position: absolute;
  top: $space-050;
  left: $space-050;
}






// Links
// ========================================


.menu__link {
  display: block;
  margin: $space-100 0;
}





// Black Block
// ========================================


.menu__black {
  width: 100%;
  margin-top: $space-300;
  padding: $space-300 0 $space-400;

  color: $color-white;

  background-color: $color-grey-900;
  background-image: url("assets/img/backgrounds/background-on-black.png");
  background-position: center center;
  border-top: 4px solid $color-yellow-dark;
}