// 
// Components / Pagination
// ==========================================================================


.c_pagination {
    display: flex;
    justify-content: center;
}


.c_pagination__item {
    width: $space-200;
    height: $space-200;
    border-radius: $borderRadius-max;
    margin: 0 $space-025;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: $font-display;
    font-weight: 700;
    color: $color-black;
    line-height: $lineHeight-100;
    background-color: $color-white;
    box-shadow: $boxShadow-base;

    transition: all $trans-0400 $trans-easing;

    &--active {
        color: $color-white;
        background-color: $color-grey-900;
    }

    &--disabled {
        opacity: 0.5;
    }

    &:hover,
    &:focus-visible {
        cursor: pointer;
        color: $color-white;
        background-color: $color-black;
    }

    &--disabled {
        opacity: 0.5;

        &:hover,
        &:focus-visible {
            cursor: not-allowed;
            color: $color-black;
            background-color: $color-white;
        }
    }
}