// 
// Components / Resource Card
// ==========================================================================


.c_resource-card {
  padding: $space-100;
  @include box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(md) {
    padding: $space-150;
  }
}


.c_resource-card__text-wrapper {
  margin-bottom: $space-200;
}


.c_resource-card__title {
  margin-bottom: $space-025;

  font-family: $font-display;
  font-size: $fontSize-150;
  line-height: $lineHeight-120;
  font-weight: 700;
}


.c_resource-card__lang {
  margin-bottom: $space-200;
  display: flex;
  align-items: center;
  color: $color-grey-700;
  
  _font-weight: 700;
}


.c_resource-card__lang-icon {
  width: $space-100;
  height: $space-100;
  margin-right: $space-025;

  color: $color-purple;
}


.c_resource-card__desc {
  font-size: $fontSize-087;
  line-height: $lineHeight-150;
  color: $color-grey-700;
}


.c_resource-card__link {
  display: inline-flex;
  align-items: center;

  font-family: $font-display;
  color: $color-grey-900;
  transition: color $trans-0200 $trans-easing;

  &-icon {
    margin-left: $space-025;
    width: $space-100;
    height: $space-100;

    color: $color-blue;
    transition: color $trans-0200 $trans-easing;
  }

  &:hover {
    color: $color-blue;
    cursor: pointer;

    .c_resource-card__link-icon {
      color: $color-blue;
    }
  }
}