// 
// Components
// ==========================================================================


.c_title-small {
  line-height: $lineHeight-100;

  display: flex;
  align-items: center;

  font-family: $font-display;
  font-size: $fontSize-087;
  text-transform: uppercase;
  color: $color-purple;

  .c_title-small__icon {
    flex-shrink: 0;
    width: $space-100;
    height: $space-100;
    margin-right: $space-025;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}