// 
// Components
// ==========================================================================


.c_title-small {
  font-family: $font-display;
  font-size: $fontSize-087;
  text-transform: uppercase;
  color: $color-purple;

  svg {
    transform: translateY(5px);
  }
}