//
// Components / WYSIWYG
// 
// Basically changes at the breakpoint "LG", increasing base text size
// ================================================================================


.wysiwyg {


  // Main headings
  h3 {
    margin-bottom: $space-150;

    font-family: $font-display;
    font-weight: 700;
    font-size: $fontSize-200;
    line-height: $lineHeight-120;
    color: $color-purple;

    &:not(:first-child) {
      margin-top: $space-300;

      @include breakpoint(lg) {
        margin-top: $space-400;
      }
    }
  }


  // Secondary headings
  h4 {
    margin-bottom: $space-150;

    font-family: $font-display;
    font-weight: 700;
    font-size: $fontSize-150;
    line-height: $lineHeight-120;
    color: $color-black;

    &:not(:first-child) {
      margin-top: $space-300;

      @include breakpoint(lg) {
        margin-top: $space-400;
      }
    }
  }


  // Paragraph
  p {
    margin-bottom: $space-150;
    line-height: $lineHeight-150;
    color: $color-grey-900;

    strong {
      font-weight: 700;
    }

    @include breakpoint(lg) {
      font-size: $fontSize-125;
    }

    &:empty {
      display: none; // Markdown typical mistake
    }
  }

  
  // Anchor
  a:not(.button) {
    text-decoration: underline;
    color: $color-purple;
    transition: color $trans-0200 $trans-easing;

    &:not(.btn):hover {
      color: $color-black;
    }
  }


  // Image
  p img {
    // Space added besides the p margin
    margin-top: $space-150;
    margin-bottom: $space-150;
  }


  // Image w Script
  p img[src*="render"] {
    display: inline-block;
    position: relative;
    padding: $space-150 $space-075 $space-075 $space-075;

    background-color: $color-script-pane;
    border: none;

    &::after {
      content: 'Drag it to the IDE!';

      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      top: $space-025;
      right: $space-025;

      font-size: $fontSize-050;
      color: $color-grey-700;
    }
  }


  // Caption
  p img + em {
    margin-top: -10px;
    display: block;
    padding: $space-050 $space-100 $space-050 $space-075;

    background-color: $color-grey-200;
    font-size: $fontSize-075;
    line-height: $lineHeight-150;
  }

  @supports selector(p:has(em)) {
    margin-top: 0;
    line-height: 0;
  }


  // Code
  p code {
    display: inline;
    padding-right: $space-025;
    padding-left: $space-025;
    border-radius: $borderRadius-025;

    font-family: $font-display;
    font-weight: 500;
    background-color: $color-script-pane;
  }






  // Lists
  // ========================================

  
  ul {
    margin-bottom: $space-150;
    padding-left: $space-100;
    list-style-type: disc;
  }

  
  ol {
    margin-bottom: $space-150;
    padding-left: $space-100;
    list-style-type: decimal;
  }

  
  li {
    margin-bottom: $space-050;
    line-height: $lineHeight-150;

    &::marker {
      color: $color-purple;
    }

    @include breakpoint(lg) {
      font-size: $fontSize-125;
      margin-bottom: $space-100;
    }
  }




  
  // Exceptions
  // ========================================

  
  &--small {
    font-size: $fontSize-087;
    margin-bottom: $space-100;

  }


  &--large {

    @include breakpoint(lg) {
      font-size: $fontSize-125;

      p:not(:last-of-type) {
        margin-bottom: $space-125;
      }
    }
  }





  // Tips and Facts
  // ========================================


  .fact,
  .note,
  .safety {
    position: relative;
    display: block;
    margin: $space-300 0 $space-100;
    padding: $space-300 $space-100 $space-100 $space-100;

    border-radius: $borderRadius-025;

    &::before {
      content: '';
      display: block;
      margin-bottom: $space-025;

      font-family: $font-display;
      font-weight: 700;
    }

    &::after {
      content: '';
      
      display: block;
      height: $space-400;
      width: $space-400;

      position: absolute;
      top: calc( #{$space-200} * -1);
      right: $space-200;
      z-index: $zindex-above;

      border-radius: $borderRadius-max;
    }

    @include breakpoint(lg) {
      padding: $space-200;
    }


    // Elements
    h3, h4 {
      margin-top: 0;
    }
  }


  .fact {
    background-color: rgba($color-blue, 0.1);

    &::before {
      content: 'FUN FACT';
      color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }


  .note {
    background-color: rgba($color-green, 0.1);

    &::before {
      content: 'NOTE';
      color: $color-green;
    }

    &::after {
      background-color: $color-green;
    }
  }


  .safety {
    background-color: rgba($color-red, 0.1);

    &::before {
      content: 'SAFETY NOTE';
      color: $color-red;
    }

    &::after {
      background-color: $color-red;
    }
  }


}