<!DOCTYPE html>
<html lang="{{@root.locale.code}}">


	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ title }}</title>

		<link rel="stylesheet" href="/main.css" type="text/css">
		<script src="/main.js"></script>
                {{! Make locales for this page available from the client side }}
		<script> locale = {{{json locale}}}; </script>
	</head>


	<body class="{{ pageClass }}">

		{{> _header }}

		<main class="main">
			{{#> main-content }}
			{{! Page contents will end up here }}
			{{/main-content }}
		</main>

		{{> _footer }}

		{{#if livereload}}
		<script>
			console.log('live reload enabled');
			var ws = new WebSocket(`ws://${location.hostname}:8080`);
			ws.onmessage = function (msg) {
				if (msg.data === 'reload') {
					location.reload();
				} else {
					console.log(msg.data);
				}
			};
		</script>
		{{/if}}

	</body>


</html>
