<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<title>Video</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 16.25H2.5C1.80964 16.25 1.25 15.6904 1.25 15V5C1.25 4.30964 1.80964 3.75 2.5 3.75H13.125C13.8154 3.75 14.375 4.30964 14.375 5V7.5375L17.7625 5.11875C17.9527 4.98336 18.2024 4.96522 18.4101 5.07171C18.6179 5.1782 18.7489 5.39157 18.75 5.625V14.375C18.7489 14.6084 18.6179 14.8218 18.4101 14.9283C18.2024 15.0348 17.9527 15.0166 17.7625 14.8813L14.375 12.4625V15C14.375 15.6904 13.8154 16.25 13.125 16.25ZM2.5 5V15H13.125V11.25C13.1261 11.0166 13.2571 10.8032 13.4649 10.6967C13.6726 10.5902 13.9223 10.6084 14.1125 10.7438L17.5 13.1625V6.8375L14.1125 9.25625C13.9223 9.39164 13.6726 9.40978 13.4649 9.30329C13.2571 9.1968 13.1261 8.98343 13.125 8.75V5H2.5Z" fill="currentColor"/>
</svg>
