<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<title>Arrow Up Right</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M5 3V4H11.295L3 12.295L3.705 13L12 4.705V11H13V3H5Z" fill="currentColor"/>
</svg>
