<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<title>Internal link</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.44078 2.24023L8.64078 3.04023L12.9608 7.44023L0.800781 7.44023L0.800781 8.56024L12.9608 8.56024L8.64078 12.9602L9.44078 13.7602L15.2008 8.00023L9.44078 2.24023Z" fill="currentColor"/>
</svg>
