<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
<title>Duration</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.99999 15.2C3.99999 15.2 0.799988 12 0.799988 8.00005C0.799988 4.00005 3.99999 0.800049 7.99999 0.800049C12 0.800049 15.2 4.00005 15.2 8.00005C15.2 12 12 15.2 7.99999 15.2ZM10.4003 11.92L7.5203 9.04005V4.00005H8.4803V8.56005L11.1203 11.2L10.4003 11.92ZM1.83999 8.00005C1.83999 4.64005 4.55999 1.84005 7.99999 1.84005C11.44 1.84005 14.16 4.64005 14.16 8.00005C14.16 11.36 11.36 14.16 7.99999 14.16C4.63999 14.16 1.83999 11.36 1.83999 8.00005Z" fill="currentColor"/>
</svg>
