<svg viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
<title>Topics</title>
<path d="M8.5 2.96094H12V3.96094H8.5V2.96094Z" fill="currentColor"/>
<path d="M8.5 5.46094H12V6.46094H8.5V5.46094Z" fill="currentColor"/>
<path d="M8.5 7.96094H12V8.96094H8.5V7.96094Z" fill="currentColor"/>
<path d="M2 2.96094H5.5V3.96094H2V2.96094Z" fill="currentColor"/>
<path d="M2 5.46094H5.5V6.46094H2V5.46094Z" fill="currentColor"/>
<path d="M2 7.96094H5.5V8.96094H2V7.96094Z" fill="currentColor"/>
<path d="M13 0.460938H1C0.734865 0.461202 0.480665 0.566644 0.293186 0.754123C0.105707 0.941602 0.000264738 1.1958 0 1.46094V10.4609C0.000264738 10.7261 0.105707 10.9803 0.293186 11.1678C0.480665 11.3552 0.734865 11.4607 1 11.4609H13C13.2651 11.4607 13.5193 11.3552 13.7068 11.1678C13.8943 10.9803 13.9997 10.7261 14 10.4609V1.46094C13.9997 1.1958 13.8943 0.941602 13.7068 0.754123C13.5193 0.566644 13.2651 0.461202 13 0.460938ZM1 1.46094H6.5V10.4609H1V1.46094ZM7.5 10.4609V1.46094H13V10.4609H7.5Z" fill="currentColor"/>
</svg>
