<svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
<title>Student</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M2 1.76172V2.76172H4.5V6.26172C4.5 8.19472 6.067 9.76172 8 9.76172C9.933 9.76172 11.5 8.19472 11.5 6.26172V2.76172H14V1.76172H2ZM5.5 2.76172H10.5V4.26172H5.5V2.76172ZM5.5 6.26172C5.5 7.64243 6.61929 8.76172 8 8.76172C9.38071 8.76172 10.5 7.64243 10.5 6.26172V5.26172H5.5V6.26172ZM13 15.9617H12V14.4617C11.9983 13.0817 10.88 11.9634 9.5 11.9617H6.5C5.11997 11.9634 4.00165 13.0817 4 14.4617V15.9617H3V14.4617C3.0022 12.5296 4.56792 10.9639 6.5 10.9617H9.5C11.4321 10.9639 12.9978 12.5296 13 14.4617V15.9617ZM2 4.46172C2 4.18558 2.22386 3.96172 2.5 3.96172C2.77614 3.96172 3 4.18558 3 4.46172V8.96172H2V4.46172Z" fill="currentColor"/>
</svg>
