<svg viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
<title>Component/s</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.50009 12.5H10.5001V13.5H5.50009V12.5ZM6.50009 14.5H9.50009V15.5H6.50009V14.5ZM8.00009 1.5C5.23867 1.5 3.00009 3.73858 3.00009 6.5C2.9315 7.97412 3.57508 9.39148 4.73009 10.31C5.23009 10.775 5.5001 11.04 5.5001 11.5H6.50009C6.50009 10.58 5.9451 10.065 5.40509 9.57C4.45618 8.84334 3.92978 7.69311 4.00009 6.5C4.00009 4.29086 5.79096 2.5 8.00009 2.5C10.2092 2.5 12.0001 4.29086 12.0001 6.5C12.0692 7.69402 11.5409 8.84442 10.5901 9.57C10.0551 10.07 9.5001 10.57 9.5001 11.5H10.5001C10.5001 11.04 10.7651 10.775 11.2701 10.305C12.4243 9.38805 13.0679 7.97255 13.0001 6.5C13.0001 5.17392 12.4733 3.90215 11.5356 2.96447C10.5979 2.02678 9.32618 1.5 8.00009 1.5Z" fill="currentColor"/>
</svg>
