<svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<title>Boards</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.75 6.875V8.125H16.25V11.875H18.75V13.125H16.25V15C16.25 15.6904 15.6904 16.25 15 16.25H13.125V18.75H11.875V16.25H8.125V18.75H6.875V16.25H5C4.30964 16.25 3.75 15.6904 3.75 15V13.125H1.25V11.875H3.75V8.125H1.25V6.875H3.75V5C3.75 4.30964 4.30964 3.75 5 3.75H6.875V1.25H8.125V3.75H11.875V1.25H13.125V3.75H15C15.6904 3.75 16.25 4.30964 16.25 5V6.875H18.75ZM5 15H15V5H5V15ZM6.875 6.875V13.125H13.125V6.875H6.875ZM8.125 11.875H11.875V8.125H8.125V11.875Z" fill="#B6519D"/>
</svg>
