<svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
<title>Board/s</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15 6.49609V7.49609H13V10.4961H15V11.4961H13V12.9961C13 13.5484 12.5523 13.9961 12 13.9961H10.5V15.9961H9.5V13.9961H6.5V15.9961H5.5V13.9961H4C3.44772 13.9961 3 13.5484 3 12.9961V11.4961H1V10.4961H3V7.49609H1V6.49609H3V4.99609C3 4.44381 3.44772 3.99609 4 3.99609H5.5V1.99609H6.5V3.99609H9.5V1.99609H10.5V3.99609H12C12.5523 3.99609 13 4.44381 13 4.99609V6.49609H15ZM4 12.9961H12V4.99609H4V12.9961ZM5.5 6.49609V11.4961H10.5V6.49609H5.5ZM6.5 10.4961H9.5V7.49609H6.5V10.4961Z" fill="currentColor"/>
</svg>
