{{#> layouts._html-shell
    pageClass="page-home page-has-hero"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
    title=locale.pageTitle
}}

{{#*inline "main-content"}}
<p>{{ locale.pageIntro }}</p>
{{/inline}}
{{/layouts._html-shell }}
