{{#> layouts._html-shell
    title=locale.pageTitle
    pageClass="page-activities"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h2>{{ locale.pageTitle }}</h2>
<ul>
    {{#each locale.activities}}
    <li><a href="activities/{{slug}}">{{title}}</a></li>
    {{/each}}
</ul>
{{/inline}}
{{/layouts._html-shell }}
