{{#> layouts._html-shell
    pageClass="page-activity-card"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h1>{{title}}: Activity Card</h1>
{{! insert the compiled markdown for this particular activity card }}

{{#markdown markdown}}{{/markdown}}

{{/inline}}

{{/layouts._html-shell }}
