{{#> layouts._html-shell
    pageClass="page-activity"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
    untranslatable=true
}}

{{#*inline "main-content"}}
<h2>{{title}}</h2>
<small>{{localize "author" author}}</small>
{{! insert the compiled markdown for this particular activity }}

{{#markdown markdown}}{{/markdown}}

{{/inline}}
{{/layouts._html-shell }}
