{{#> layouts._html-shell
    title="Home"
    pageClass="page-home page-has-hero"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h2>Activities</h2>
<ul>
    {{#each activities}}
    <li><a href="activities/{{slug}}">{{locales.en.title}}</a></li>
    {{/each}}
</ul>
{{/inline}}
{{/layouts._html-shell }}
