{{#> layouts._html-shell
    title=locale.pageTitle
    pageClass="page-activities"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h2>{{ locale.pageTitle }}</h2>
{{> _activity-filters }}

{{! gets filled from activity-list.js }}
<div id="activity-list"></div>

<script>fetchActivities();</script>

{{/inline}}
{{/layouts._html-shell }}
