{{#> layouts._html-shell
    title=locale.pageTitle
    pageClass="v_home"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="v_home__hero c_hero-yellow">
    <div class="v_home__hero-picture">
        <img src="../assets/img/pictures/home-hero.svg" alt="MicroBlocks LEARN">
    </div>
</header><!-- /Header -->


<!-- Subtitle -->
<div class="v_home__subtitle">
    <div class="row">
        <div class="col col-px col-12">
            <h2 class="c_title-block c_title-block--purple">Activities</h2>
        </div>
    </div>
</div>


<!-- Contents -->
<div class="row">


    <!-- Filters -->
    <div class="col col-px col-12">
        <div class="v_home__filters">

            <div class="v_home__filters-button c_button c_button--filters"
                role="button" aria-controls="activity-filters" aria-haspopup="true">
                <span>Filters</span>
            </div>

            {{> _activity-filters }}

        </div>
    </div>


    <!-- Cards -->
    <div class="col col-px col-12">
        {{! gets filled from activity-list.js }}
        <span class="activity-count"></span>
        <div class="page-activities__pagination pagination"></div>
        <div class="activity-list"></div>

        <script>fetchActivities();</script>
    </div>


</div>


{{/inline}}
{{/layouts._html-shell }}
