{{#> layouts._html-shell
    title="Home"
    pageClass="page-home page-has-hero"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h2>You are learning MicroBlocks</h2>
<p>...</p>
{{/inline}}
{{/layouts._html-shell }}
