{{#> layouts._html-shell
    title=locale.pageTitle
    pageClass="page-activities"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="hero-yellow">

    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--orange">Contribute</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">
            <div class="col-12 col-lg-10">
                <div class="page-header__intro wysiwyg">
                    <p class="text-lg">MicroBlocks is a <a href="https://mozilla.org/MPL/2.0/" target="_blank">free
                            software</a> project that encourages, welcomes, and deeply appreciates contributions from
                        its community.</p>
                    {{#markdown}}We are actively searching for [translators](contribute#translate), [content
                    creators](contribute#content-creation), [enthusiastic community members](about#ambassadors) and
                    [financial support](contribute#financial-contribution).{{/markdown}}
                </div>
            </div>
        </div>

    </div>

</header><!-- /Header -->







<h2>{{ localize "pageTitle" }}</h2>
<span>{{ localize "pageIntro" }}</span>



{{!-- Activities --}}
{{> _activity-filters }}

{{! gets filled from activity-list.js }}
<span class="activity-count"></span>
<div class="page-activities__pagination pagination"></div>
<div class="activity-list"></div>

<script>fetchActivities();</script>

{{/inline}}
{{/layouts._html-shell }}
