{{#> layouts._html-shell
    pageClass="v_resources"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="v_activity__hero c_hero-yellow">
    <div class="row row--center">

        <div class="col col-px col-12">
            <div class="c_hero-yellow__title-wrapper">
                <h1 class="c_hero-yellow__title">{{localize 'other-resources'}}</h1>
            </div>
        </div>

    </div>
</header>


<div class="contents">

    
    <!-- Intro -->
    <div class="v_resources__intro">
        <div class="row _row--center">
            <div class="col col-12 col-px lg-col-10 xl-col-8">
                <p class="v_resources__intro-text">
                    {{localize 'intro-text'}}
                </p>
            </div>
        </div>
    </div>


    <!-- Resource 01 -->
    <div class="v_resources__section">
        <div class="row">

            <div class="col col-12 col-px">
                <div class="v_resources__section-border"></div>
            </div>

            <div class="col col-12 col-px lg-col-4 xl-col-3">
                <h2 class="v_resources__section-title">Programming</h2>
            </div>

            <div class="col col-12 col-px lg-col-8 xl-col-9">
                <div class="v_resources__section-grid">
                    
                    {{#times 4}}
                        {{> _resource-card }}
                    {{/times}}

                </div>
            </div>
            
        </div>
    </div>

    <!-- Resource 02 -->
    <div class="v_resources__section">
        <div class="row">

            <div class="col col-12 col-px">
                <div class="v_resources__section-border"></div>
            </div>

            <div class="col col-12 col-px lg-col-4 xl-col-3">
                <h2 class="v_resources__section-title">Physical Computing</h2>
            </div>

            <div class="col col-12 col-px lg-col-8 xl-col-9">
                <div class="v_resources__section-grid">
                    
                    {{#times 4}}
                        {{> _resource-card }}
                    {{/times}}

                </div>
            </div>
            
        </div>
    </div>
    

</div>

{{/inline}}

{{/layouts._html-shell }}
