{{#> layouts._html-shell
    pageClass="page-teachers-guide"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h1>{{title}}: Teacher's Guide</h1>
{{! insert the compiled markdown for this particular teacher's guide }}

{{#markdown markdown}}{{/markdown}}

{{/inline}}

{{/layouts._html-shell }}
