<div id="activity-filters">
    <h4>Filters:</h4>
    <h5>Language</h5>
    <select
        class="locale activity-filter"
        onchange="applyFilter('locale', this.value)" >
        <option value="">All</option>
    </select>
    <h5>Board</h5>
    <select
        class="boards activity-filter"
        onchange="applyFilter('boards', this.value)" >
        <option value="">All</option>
    </select>
    <label><input
        onchange="applyFilter('compatible', this.checked)"
        class="activity-toggle"
        type="checkbox"> and compatible boards</label>
    <h5>Components</h5>
    <select
        class="components activity-filter"
        onchange="applyFilter('components', this.value)">
        <option value="">Unset</option>
        <option value="none">None</option>
    </select>
    <h5>Level & Resources</h5>
    <select
        class="level activity-filter"
        onchange="applyFilter('level', this.value)">
        <option value="">All</option>
    </select>
    <label><input
        onchange = "applyFilter('has-card', this.checked)"
        class = "activity-toggle"
        type="checkbox"> has activity card</label>
    <label><input
        onchange = "applyFilter('has-guide', this.checked)"
        class = "activity-toggle"
        type="checkbox"> has teacher's guide</label>
    <h5>Topics</h5>
    <select
        class="topics activity-filter"
        onchange="applyFilter('topics', this.value)">
        <option value="">All</option>
    </select> 
</div>
