<div id="activity-filters">
    <h4>Filters:</h4>
    <h5>Language</h5>
    <select
        class="locale activity-filter"
        onchange="applyFilter('locale', this.value)" >
        <option value="">All</option>
    </select>
    <h5>Board</h5>
    <select
        class="boards activity-filter"
        onchange="applyFilter('boards', this.value)" >
        <option value="">All</option>
    </select>
    <label><input
        class = "compatible toggle"
        type="checkbox"
        value="compatible-boards"> and compatible boards</label>
    <h5>Level</h5>
    <select
        class="level activity-filter"
        onchange="applyFilter('level', this.value)">
        <option value="">All</option>
    </select>
</div>
