{{#unless untranslatable}}
<select class="locale" onchange="setLang(this.value)">
    {{#each locales}}
    <option>{{this}}</option>
    {{/each}}
</select>
<script>
    document.querySelector('select.locale').value =
        document.documentElement.lang;
</script>
{{/unless}}
<nav>
{{#markdown}}
[index](/{{@root.locale.code}}/index)
[activities](/{{@root.locale.code}}/activity-list)
{{/markdown}}
</nav>
