{{#unless untranslatable}}
<select class="locale" onchange="setLang(this.value)">
    {{#each locales}}
    <option>{{this}}</option>
    {{/each}}
</select>
<script>
    document.querySelector('.locale').value = location.pathname.substring(1,3);
</script>
{{/unless}}
<nav>
{{#markdown}}
[index](index) [activities](activity-list)
{{/markdown}}
</nav>
