<div class="c_resource-card">
    <div class="c_resource-card__text-wrapper">
        <div class="c_resource-card__title">
            Resource Title
        </div>
        <div class="c_resource-card__desc">
            They focus on how something works independently of how it might be used in applications and with more emphasis on theoretical understanding.
        </div>
    </div>
    <a class="c_resource-card__link" target="_blank">
        Resource Link
        <div class="c_resource-card__link-icon">
            {{> svg.icon-arrow-up-right-16x16 }}
        </div>
    </a>
</div>