// 
// Components / Buttons
// ==========================================================================


@mixin box {
  border-radius: $borderRadius-050;
  background-color: $color-white;
  box-shadow: $boxShadow-base;
}


.u_box {
  @include box;
}