//
// Elements / Anchors
// ==============================================================================


a:link,
a:visited {
    text-decoration: none;
    // color: $color-grey-900;
    // color: inherit;
}