//
// Elements / Body
// ==============================================================================


body {
    font-family: $font-regular;
    font-size: 16px;
    // line-height: $lineHeight-120;
    // word-break: break-word; why? clashes with wysiwyg captions
    color: $color-grey-900;
    background-color: $color-background;

    & *::selection {
        // color: $color-black;
    }
}